@import url(__img/photo-grid__img.css);

.photo-grid{
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 0 5.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
}

