@import url(__container/places__container.css);
@import url(__image/places__image.css);
@import url(__link/places__link.css);
@import url(__paragraph/places__paragraph.css);
@import url(__text/places__text.css);
@import url(__title/places__title.css);
@import url(__url-title/places__url-title.css);
@import url(__web/places__web.css);

.places{
  width: calc(100% - (148px * 2));
  margin: 0 148px 92px;
  padding: 0;
  display: grid;
  grid-row-gap: 0;
}

@media screen and (max-width:1024px) {
  .places {
    width: calc(100% - (48px * 2));
    margin-left: 48px;
  }
}

@media screen and (max-width:768px) {
  .places {
    width: calc(100% - (24px * 2));
    margin: 0 24px 90px;
  }
}

@media screen and (max-width:320px) {
  .places {
    width: 100%;
    margin: 0 auto 66px;
  }
}