@import url(__list/intro__list.css);
@import url(__list/_bold/intro__list_bold-text.css);
@import url(__text/intro__text.css);
@import url(__title/intro__title.css);

.intro{
  width: calc(100% - (148px * 2));
  padding: 0;
  margin: 0 0 92px 148px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

@media screen and (max-width:1024px) {
  .intro {
    width: calc(100% - (48px * 2));
    margin-left: 48px;
  }
}

@media screen and (max-width:768px) {
  .intro {
    width: calc(100% - (24px * 2));
    margin-left: 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width:650px) {
  .intro {
    width: calc(100% - (16px * 2));
    margin-left: 16px;
    margin-bottom: 64px;
  }
}