.lead__subtitle{
  margin: 0 auto 64px;
  text-align: center;
  font-size: 1.875rem;
  line-height: 2.25rem;
  max-width: 640px;
  min-width: 288px;
}

@media screen and (max-width:1024px) {
  .lead__subtitle{
    margin: 0;
    margin-bottom: 56px;
  }
}

@media screen and (max-width:650px) {
  .lead__subtitle{
    margin-bottom: 40px;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}