.cover{
  width: calc(100% - (48px * 2));
  height: 62.5vw;
  max-height: 740px;
  min-height: 200px;
  position: relative;
  margin: 0 auto 82px;
  background-image: url('../../images/cover/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  display: grid;
  justify-self: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .cover{
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .cover{

    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .cover{
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 650px) {
  .cover{
    margin-bottom: 64px;
    width: 100%;
  }
}