.places__url-title{
  color: #AAAAAA;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
}

@media screen and (max-width:768px) {
  .places__url-title {
    line-height: 0.75rem;
  }
}

@media screen and (max-width:320px) {
  .places__url-title {
    line-height: 0.75rem;
  }
}