.header__lang-links{
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-self: center;
}

@media screen and (max-width: 320px) {
  .header__lang-links{
    font-size: 1.125rem;
    line-height: 1.25rem;
  }
}